body {
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
}

.content{
	min-height: 100vh;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3{
	margin-top: 12px;
}

.centered {
	text-decoration:  none;
	display: flex;
	justify-content: center;
}

.right {
	text-decoration:  none;
	display: flex;
	justify-content: flex-end;
}

.left {
	text-decoration:  none;
	display: flex;
	justify-content: flex-start;
}

.centeredContent {
	text-align: center;
}

.hidden {
	display: none !important;
}

.margin-bottom {
	margin-bottom: 20px;
}

table {
	text-align: center;
}

button {
	width: 60px;
	/* text-decoration: none; */
}

/******LoadingSpace******/
.loadingSpace {
	margin-top: 50px;
}

.aproachShip {
	margin-top: 20px;
	height: 20px;
	vertical-align: baseline;
	-webkit-animation-name: aproach;
	-webkit-animation-duration: 2s;
	animation-name: aproach;
	animation-duration: 2s;

}

@keyframes aproach {
	from {height: 20px;}
	to {height: 100px;}
}

@-webkit-keyframes aproach {
	from {height: 20px;}
	to {height: 100px;}
}

/******Index table = leaderboard******/
.leaderboardTable{

	margin-bottom: 20px;

}

.leaderboardTable table{
	width: 600px;
}

.leaderboardTable thead{
	background-color: #3399ff;
	color: black;
}

.leaderboardTable tbody{
	background-color: #cce6ff;
	color: black;
}

.leaderboardTable tr{
	height: 45px;
}

.leaderboardTable th{
	min-width: 50px;
}

.position p{
	color: black;
	margin: 0;
	padding-top: 5px;
}

.positionDiv {
	text-align: center;
	background-color: #fff0b3;
	border-radius: 50px;
	height: 30px;
	width: 30px;
	margin: auto;
	border: 5px solid #ffd633;
}

/******Login Space******/
.spaceLogin{
	height: 50px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#showPasswordLogin:hover {
	cursor: pointer;
}

/******SignUp Space******/

.signUp {
	font-size: 12px;
	color: deepskyblue;
}

.signUp:hover {
	color: mediumblue;
	cursor: pointer;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation for Modal*/
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #ffe0b3;
	color: white;
}

.modal-body {
	padding: 20px 10px 5px 10px;
}

.modal-body label {
	padding: 0 10px 0 0; 
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

input {
	border-radius: 5px;
	width: 150px;
	height: 20px;
	font-size: 14px;
	padding-left: 5px;
}

.spaceLogin {
	margin-bottom: 20px; 
}
.loginSpace label{
	padding: 0 10px 0 0;

}

.leaderboardSpace{
	margin-top: 30px;
}
/******Games Table******/
.gamesTable table{
	width: 700px;
}

.gamesTable thead{
	background-color: #ffcc00;
}

.gamesTable tbody{
	background-color:  #fff0b3;
}

.gamesTable tr {
	height: 40px;
}

.gamesTable td {
	min-width: 30px;
}

.newGameButton button{
	margin-top: 20px;
	width: 100px;
	height: 30px;
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
	border-style: solid;
	border-width: 1px;
	padding: 1px 7px 2px;
}

.generalButton button {
	width: 100px;
	height: 30px;
	border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
	border-style: solid;
	border-width: 1px;
	padding: 1px 7px 2px;
	box-shadow: 2px 2px 2px rgb(216, 216, 216);
	background-color: white;
	border-radius: 5px;
}

.generalButton button:hover{
	box-shadow: 0px 0px 0px;
}

.playColumn {
	background-color: white;
}

.playColumn a svg{
	color: #bbff33;
}

.playColumn a svg:hover{
	color: 	#77b300;
}

/******Game Table******/

.gameTable {
	margin: auto;
	margin-bottom: 30px;
}

.gameTable tr {
	text-align: center;
}

.gameTable th {
	background-color: #001a33;
	border: 1px solid #999999;
	text-align: center;
	color: #d9d9d9;
}

.gameTable td {
	background-color: #003366;
	border: 1px solid #00264d;
	text-align: center;
	color: #d9d9d9;
	padding: 0 !important;
	width: 48px !important;
	height: 41px !important;
}

.coloredSubmarine {
	background-color: yellow !important;
}

.coloredDestroyer {
	background-color: #e6ffe6 !important;
}

.coloredPatrol {
	background-color: #ffddcc !important;
}

.coloredBattleship {
	background-color: #ffe699 !important;
}

.coloredCarrier {
	background-color: #ccccff !important;
}

.salvoes div{
	background-image: url("../images/waves.png");
	background-size: contain;
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin: auto;
	border-radius: 50px;
}

.hitShip div{
	width: 30px;
	height: 30px;
	margin: auto;
	border-radius: 50px;
	background-image: url("../images/fire.png");
	background-size: contain;
	background-color: transparent;
}

.hitShip div p{
	color: white;
	padding-top: 5px;
}

.joinButton{
	color: cadetblue;
}

.joinButton:hover{
	cursor: pointer;
	color: white;
}

.backIcon {
	width: 50px;
	border-radius: 50px;
	box-shadow: 1px 1px 2px rgb(216, 216, 216);
	border-radius: 1px solid black;
}

.backIcon:hover {
	box-shadow: 0px 0px 0px;
}

.shipToDrag img {
	width: 46px;
	height: 40px;
	margin: 0.2px;
}

#div1 {
	width: 350px;
	height: 70px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

.dragging{
	background-color: yellow;
}

#sendShipsButtonSpace button{
	margin-top: 10px;
	width: 300px;
	margin-bottom: 20px;
}

.rotate {
	transform: rotate(90deg);
}

.salvoButton{
	margin-bottom: 100px;
}

.shotPendant{
	background-image: url(../images/bullseye.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.salvoText p {
	font-size: 12px;
}

.margin-bottom-100{
	margin-bottom: 100px;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-20{
	margin-top: 20px;
}

.sunkShip {
	background-color: black !important;
}

.red{
	color: red;
}

/*WAITING OPPONENT*/
.spinner {
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 5px;
	height: 5px;
	background-color: black;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.waiting{
	color: dimgrey;
}

.gameStatus p {
	color: mediumvioletred;
}

.icon{
	width: 80px;
	margin: auto;
	margin-top: 0;
	/* margin-bottom: 0; */
}

.wavingHand{
	margin-left: 10px;
	height: 25px;
}

.instructions{
	font-weight: bold;
	color: dimgrey;
}

.lowOpacity{
	opacity: 0.6;
}

.border{
	border: 1px solid red;
}

.opponent{
	font-size: 14px;
}

.topPageGame{
	height: 100px;
}

.moreSpace {
	display: none;
}

@media (max-width: 960px) {
	.topPageGame{
		text-align: center;
		margin: auto;
		min-height: 180px;
	}

	.topPageGame div {
		text-decoration:  none;
		justify-content: center;
	}
	
	.icon {
		width: 80px;
		height: 80px;
		margin-bottom: 0px;
	}

	.right{
		display: none !important;
	} 
}

@media (max-width: 576px) {
	.container{
		display: none;
	}

	.moreSpace {
		display: block;
	}
}